# Byte‑compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/

# Distribution / packaging
build/
*.egg-info/
.dist/

# IDE / editor artefacts
.vscode/
.idea/
